#accessible-sidebar {
  min-width: 250px;
}

/* Expand/collapse panel toolbar button */

#track-vc {
  background: none;
  box-shadow: none;
  border: none;
  list-style-image: url(chrome://devtools/skin/images/debugger-toggleBreakpoints.svg);
  -moz-image-region: rect(0px,32px,16px,16px);
}

#track-vc > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

#track-vc.pressed {
  -moz-image-region: rect(0px,16px,16px,0px);
}

#track-vc:active {
}
